@import 'reset.css';
@import 'fonts.css';

:root {
   /* 🎨 colors */
   /* |---> 🌓 hybrid */

   /* |---> 🌕 light theme */
   --c-bg-light-v: 120, 2%, 81%;
   --c-bg-light: hsla(var(--c-bg-light-v), 1);

   --c-t-light-v: 252, 10%, 10%;
   --c-t-light: hsla(var(--c-t-light-v), 1);

   --c-accent-light-v: 233, 29%, 38%;
   --c-accent-light: hsla(var(--c-accent-light-v), 1);

   --c-fg-light-v: 0, 0%, 75%;
   --c-fg-light: hsla(var(--c-fg-light-v), 1);

   --c-succ-light-v: 122, 50%, 45%;
   --c-succ-light: hsla(var(--c-succ-light-v), 1);

   --c-error-light-v: 4, 80%, 61%;
   --c-error-light: hsla(var(--c-error-light-v), 1);

   /* |---> 🌑 dark theme */
   --c-bg-dark-v: 210, 11%, 15%;
   --c-bg-dark: hsla(var(--c-bg-dark-v), 1);

   --c-t-dark-v: 0, 0%, 92%;
   --c-t-dark: hsla(var(--c-t-dark-v), 1);

   --c-accent-dark-v: 232, 29%, 59%;
   --c-accent-dark: hsla(var(--c-accent-dark-v), 1);

   --c-fg-dark-v: 0, 0%, 25%;
   --c-fg-dark: hsla(var(--c-fg-dark-v), 1);

   --c-succ-dark-v: 143, 80%, 50%;
   --c-succ-dark: hsla(var(--c-succ-dark-v), 1);

   --c-error-dark-v: 4, 70%, 45%;
   --c-error-dark: hsla(var(--c-error-dark-v), 1);

   /* 📐 Sizes */
   --s-base: 16px;

   --s-sxx: 0.125rem; /* 2px */
   --s-sx: 0.25rem; /* 4px */
   --s-sm: 0.5rem; /* 8px */

   --s-md: 0.75rem; /* 12px */

   --s-lg: 1.25rem; /* 20px */
   --s-lg2: 1.5rem; /* 24px */
   --s-lg3: 1.75rem; /* 28px */

   --s-xl: 2rem; /* 32px */
   --s-xl2: 2.5rem; /* 40px */
   --s-xl3: 3rem; /* 48px */
   --s-xl4: 3.5rem; /* 56px */
   --s-xl5: 4rem; /* 64px */

   /* 🥅 filters */
   --f-white: invert(100%) sepia(100%) saturate(1%) hue-rotate(343deg) brightness(102%)
      contrast(101%);
   --f-black: invert(0%) sepia(7%) saturate(7500%) hue-rotate(13deg) brightness(99%)
      contrast(106%);
   --f-red: invert(19%) sepia(50%) saturate(3083%) hue-rotate(328deg) brightness(92%)
      contrast(94%);
}

* {
   /* 🌎 global values */
   transition: background-color 0.1s linear;
}

*::-webkit-scrollbar {
   display: none;
}

/* 🔧 utility */
.fill {
   width: 100%;
   height: 100%;
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.grid-center {
   display: grid;
   align-content: center;
   justify-content: center;
   align-items: center;
   justify-items: center;
}

/* 🤸‍♀️ animations */
.shake {
   -webkit-animation: shake 0.8s linear both;
   animation: shake 0.8s linear both;
}

.pulsate {
   -webkit-animation: pulsate 0.2s linear both;
   animation: pulsate 0.2s linear both;
}

.spin {
   -webkit-animation: spin 1.5s linear infinite;
   animation: spin 1.5s linear infinite;
}

@-webkit-keyframes shake {
   0%,
   100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
   }
   10% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
   }
   20%,
   40%,
   60% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
   }
   30%,
   50%,
   70% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
   }
   80% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
   }
   90% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
   }
}
@keyframes shake {
   0%,
   100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
   }
   10% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
   }
   20%,
   40%,
   60% {
      -webkit-transform: rotate(-4deg);
      transform: rotate(-4deg);
   }
   30%,
   50%,
   70% {
      -webkit-transform: rotate(4deg);
      transform: rotate(4deg);
   }
   80% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
   }
   90% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
   }
}

@-webkit-keyframes pulsate {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
   50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
   }
   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}
@keyframes pulsate {
   0% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
   50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
   }
   100% {
      -webkit-transform: scale(1);
      transform: scale(1);
   }
}

@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
