@import 'reset.css';
@import 'fonts.css';

:root {
   /* Colors 🎨 */
   --bg-dark: 15, 6%, 14%;
   --bg-dark-soft: 200, 5%, 24%;
   --bg-light: var(--txt-dark);

   --primary-dark: 233, 27%, 36%;
   --secundary-dark: 241, 41%, 39%;
   --accent-dark: 274, 25%, 25%;
   --accent1-dark: 275, 40%, 30%;
   --highlight-dark: 215, 13%, 82%;

   --error-dark: 0, 70%, 60%;
   --succ-dark: 120, 45%, 37%;
   --warn-dark: 60, 78%, 61%;

   --txt-dark: 0, 0%, 65%;
   --txt-light: var(--bg-dark);

   --white: 0, 0%, 100%;

   /* Sizes 📐 */
   --base: 16px;

   --sxx: 0.125rem; /* 2px */
   --sx: 0.25rem; /* 4px */
   --sm: 0.5rem; /* 8px */

   --md: 0.75rem; /* 12px */

   --lg: 1.25rem; /* 20px */
   --lg2: 1.5rem; /* 24px */
   --lg3: 1.75rem; /* 28px */

   --xl: 2rem; /* 32px */
   --xl2: 2.5rem; /* 40px */
   --xl3: 3rem; /* 48px */
   --xl4: 3.5rem; /* 56px */
   --xl5: 4rem; /* 64px */

   --max-viewport: 480px;

   /* Filters 🥅 */
   --f-white: invert(100%) sepia(100%) saturate(1%) hue-rotate(343deg) brightness(102%)
      contrast(101%);
}

#app {
   height: 100vh;
   width: 100vw;

   display: flex;
   justify-content: center;

   font-family: 'Nunito';
   font-size: var(--base);

   color: hsla(var(--txt-dark), 1);

   user-select: none;
}

body {
   background-color: hsla(var(--bg-dark), 1);
}

/* Utility 🧰 */
.max-width {
   max-width: var(--max-viewport);
   width: 100vw;
}

.t-title {
   color: hsla(var(--primary-dark), 1);
   font-size: var(--xl3);
   font-weight: bold;
}

.d-grid {
   display: grid;
   place-items: center;
   place-content: center;
}

.d-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

.page {
   padding-right: var(--sm);
   padding-left: var(--sm);
   padding-bottom: var(--md);
}
